* {
  margin: 0px;
  padding: 0px;
}

/* menu Item Style */

.menu-bar {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu-title {
  display: flex;
  flex-direction: row;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  /* padding: 44px 0px 240px 46px; */
}

.menu-title-text {
  text-align: center;
  align-items: center;
  padding: 38px 0px 0px 20px;
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ff42a5;
}
.title-tex-another {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-title img {
  width: 86px;
  height: 40px;
  padding: 38px 0px 0px 240px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  text-align: center;
  padding: 104px 240px 55px 0px;
}

.menu-item li {
  list-style: none;
}

.about-us {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.developers {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-item-follow-us {
  width: 262px;
  height: 56px;
  display: flex;
  flex-direction: row;
  /* gap: 15px; */
  align-items: center;
  text-align: center;
  /* border: 2px solid burlywood; */
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
}
.follow-us-text {
  padding: 17px 0px 18px 24px;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.youtube-img {
  width: 33.916px;
  height: 24px;
  padding: 16px 0px 16px 24px;
}

.tiktok-img {
  width: 24px;
  height: 24px;
  padding: 16px 24px 16px 16px;
}
