* {
  margin: 0px;
  padding: 0px;
}

/* menu Item Style */

.menu-bar {
  width: 1920px;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: white;
}

.menu-title {
  display: flex;
  flex-direction: row;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  /* padding: 44px 0px 240px 46px; */
}

.menu-title-text {
  text-align: center;
  align-items: center;
  padding: 38px 0px 0px 20px;
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ff42a5;
}
.title-tex-another {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.menu-title img {
  width: 86px;
  height: 40px;
  padding: 38px 0px 0px 240px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  text-align: center;
  padding: 104px 240px 55px 0px;
}

.menu-item li {
  list-style: none;
}

.about-us {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.developers {
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-item-follow-us {
  width: 262px;
  height: 56px;
  display: flex;
  flex-direction: row;
  /* gap: 15px; */
  align-items: center;
  text-align: center;
  /* border: 2px solid burlywood; */
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
}
.follow-us-text {
  padding: 17px 0px 18px 24px;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.youtube-img {
  width: 33.916px;
  height: 24px;
  padding: 16px 0px 16px 24px;
}

.tiktok-img {
  width: 24px;
  height: 24px;
  padding: 16px 24px 16px 16px;
}

/* Menu Item Ends */

/* Banner section Start */

.banner {
  width: 1920px;
  height: 700px;
  background: rgba(140, 87, 238, 0.03);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-tittle-text {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 148px 0px 0px 244px;
}
/* linear-gradient(180deg, #F948B2 0%, #8758F1 100%); */

.banner-main-text {
  text-align: center;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 240px;
  padding-bottom: 24px;
}

.banner-play {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  display: flex;
  flex-direction: row;
}
.banner-play p {
  padding-left: 12px;
}

.banner-play img {
  width: 24px;
  height: 24px;
  padding: 0px 0px 0px 240px;
}

.banner-download {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: row;
}
.banner-download p {
  padding-top: 16px;
  padding-left: 12px;
}

.banner-download img {
  width: 24px;
  height: 24px;
  padding: 16px 0px 0px 240px;
}

.banner-support {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: row;
}

.banner-support p {
  padding-top: 16px;
  padding-left: 12px;
}

.banner-support img {
  width: 24px;
  height: 24px;
  padding: 16px 0px 0px 240px;
}

.banner-btn {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-left: 240px;
  margin-top: 41px;
}
.banner-btn button {
  padding: 21px 40px;
  border-radius: 48px;
  border: 0;
}

.signin-btn {
  background: #ff42a5;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  /* padding-left: 280px; */
}

.rogue-btn {
  background: #4ec5f7;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

/* Banner Left end */
.banner-right {
  margin: 20px 240px 0px 0px;
}

/* Banner Section Ends */

/* We are Gamer section Start */

.gamer {
  width: 1920px;
  height: 600px;
  background: rgba(255, 66, 165, 0.03);
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.gamer-left-image {
  margin: 55px 0px 56px 240px;
  width: 100%;
}
.gamer-left-image img {
  width: 868px;
  height: 489px;
}

.gamer-right-text {
  text-align: right;
}

.gamer-text-tittle {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 95px 240px 0px 0px;
}

.gamer-text-description {
  width: 520px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 240px 0px 0px;
}

.gamer-right-text button {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #ff42a5;
  border: 0;
  margin: 32px 240px 0px 0px;
}

.gamer-btn-text {
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.gamer-text-purpose {
  width: 520px;
  margin: 24px 240px 0px 0px;
}

.gamer-text-purpose p {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}

.gamer-text-purpose q {
  color: #534c64;
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

/* gamer Section End */

/* Online games style Start */

.online-games {
  background: white;
  width: 1920px;
}

.online-games-tittle {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 120px;
}

.online-games-tittle-another {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.online-games-text {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-top: 16px;
}

.videos-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 48px 240px 0px 240px;
  gap: 24px;
}

.videos-card img {
  width: 342px;
  height: 400px;
  position: relative;
  display: block;
}

/*  Funny Videos hover styles */

.videos-card {
  position: relative;
}

.content {
  width: 98%;
  height: 82%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(46, 34, 34, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 1s;
}

.content:hover {
  opacity: 1;
  border: 4px solid #f948b2;
  border-radius: 18px;
  margin-bottom: 20px;
}

.content img {
  width: 48px;
  height: 48px;
}

.content p {
  font-size: 19px;
  color: #f948b2;
  padding-top: 16px;
}

/*  Funny Videos hover styles */

.card-desc {
  width: 342px;
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-top: 24px;
}

/* Online games style Start */

/* play instantly section start */

.play-instantly {
  width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-align: right;
}

.play-inst-tittle {
  width: 341px;
  height: 180px;
  margin-left: 400px;
}

.play-inst {
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-download {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.play-inst-desc {
  width: 353px;
  /* text-align: center; */
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 380px;
  padding: 24px 25px 0px 0px;
}

.play-main-img {
  width: 634.833px;
  height: 650px;
  border-radius: 8px;
  margin-top: 120px;
  /* margin-left: 265px; */
  /* padding-right: 240px; */
  position: relative;
  left: 145px;
}

.play-badge-img {
  width: 318.5px;
  height: 365.083px;
  /* border: 10px solid white; */
  border-radius: 8px;
  position: relative;
  top: 60px;
  left: -640px;
}
/* play instantly section end */

/* play games style start */
.play-game {
  margin: 120px 240px 0px 240px;
  width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.play-game-img .main-img {
  width: 710px;
  height: 650px;
  border-radius: 8px;
  position: relative;
  margin-top: 120px;
}

.play-game-img .badge-img {
  width: 318px;
  height: 365px;
  border-radius: 8px;
  position: relative;
  top: 170px;
  left: -200px;
}

.play-game-text-tittle {
  width: 426px;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

.play-game-text-tittle .play {
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-game-text-tittle .anywhere {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.play-game-text-desc {
  width: 483px;
  color: #534c64;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding: 24px 0px 0px 0px;
}

/* play games style ends */

/* career style start */
.career {
  width: 1920px;
  height: 821px;
  background: #ff42a5;
  display: flex;
  flex-direction: row;
  margin-top: 260px;
}

.career-text {
  margin: 0px 0px 0px 240px;
}

.career-text-tittle {
  color: #fff;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  padding-top: 120px;
}
.career-desc {
  width: 680px;
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-top: 24px;
}

.career-list-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.career-list-text-left {
  width: 337px;
  height: 240px;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 200% */
  padding-top: 32px;
  /* text-align: left; */
  /* justify-content: left; */
}
.career-list-text-left li {
  list-style: none;
}

.career-list-text-right {
  width: 246px;
  height: 240px;
  padding-top: 32px;
  text-align: right;
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 200% */
}

.career-list-text-right li {
  list-style: none;
}

.career-text button {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #fff;
  border: 0;
  margin-top: 61px;
}

.career-btn-text {
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #ff42a5;
}

/* career style Ends */

/* box container style start */

.box-container {
  width: 1920px;
  height: 427px;
  background: rgba(255, 66, 165, 0.03);
}

.box-item-first-row {
  display: flex;
  /* grid-template-columns: repeat(5, 1fr); */
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px auto;
  padding-top: 120px;
}

.box-item-first-row img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding-top: 10px;
  padding-left: 10px;
}
.box-item-first-row p {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 5px;
  padding-top: 28px;
}

.box-item-second-row {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px auto;
  margin-top: 27px;
}

.box-item-second-row img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding-top: 10px;
  padding-left: 10px;
}

.box-item-second-row p {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 5px;
  padding-top: 28px;
}
.box-item {
  width: 317px;
  height: 80px;
  border-radius: 50px;
  background: white;
  display: flex;
  flex-direction: row;
}

/* for buttor hover */
.box-item-first-row button:hover {
  border: 3px solid #f948b2;
  color: white;
}
.box-item-first-row button p:hover {
  color: #f948b2;
}

.box-item-second-row button:hover {
  border: 3px solid #f948b2;
  color: white;
}
.box-item-second-row button p:hover {
  color: #f948b2;
}

/* box container style ends */

/* footer Section start */

.footer {
  width: 100%;
  height: 636px;
  background: #0b0223;
}

.footer-tittle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 120px;
}

.footer-tittle-img {
  width: 86.041px;
  height: 40px;
}

.footer-tittle-text {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ff42a5;
}

.another-footer-text {
  color: #fff;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-link {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  padding-top: 56px;
}

.footer-link a {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.footer-icon-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.btn-icon {
  background: rgba(249, 243, 243, 0.023);
  border-radius: 30%;
  border: 0;
  margin-top: 66px;
}

.footer-link2 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  padding-top: 56px;
}

.footer-link2 a {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 18px;
}

.hide {
  visibility: hidden;
}

/* footer Section End */

/* ============================================================================= */

/* Media Query start */

/* for mobile version */

@media screen and (max-width: 576px) {
  .gamer {
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .gamer-left-image {
    margin: 0;
  }

  .gamer-left-image img {
    width: 100%;
    height: auto;
  }

  .gamer-right-text {
    text-align: center;
    padding: 0px;
    padding-top: 61px;
  }

  .gamer-text-tittle {
    text-align: center;
    align-items: center;
    padding: 0;
    font-size: 48px;
  }

  .gamer-text-description {
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .gamer-right-text button {
    margin: 20px 0;
  }

  .gamer-text-purpose {
    width: 100%;
    margin: 10px 0;
  }

  .gamer-text-purpose p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }

  .gamer-text-purpose q {
    font-size: 21px;
    line-height: 35px;
    text-align: center;
  }
  /* onlime gamer funny video section */
  .online-games {
    width: auto;
    padding: 20px;
  }

  .online-games-tittle {
    font-size: 36px;
    padding-top: 60px;
  }

  .online-games-tittle-another {
    font-size: 36px;
  }

  .online-games-text {
    font-size: 16px;
    padding-top: 12px;
  }

  .videos-cards {
    flex-direction: column;
    margin: 24px 0;
  }

  .videos-card img {
    width: 100%;
    height: auto;
  }

  .videos-card .content {
    width: 100%;
    height: 80%;
    position: static;
    background: none;
    opacity: 1;
    border: none;
    margin-bottom: 0;
  }

  .content img {
    width: 32px;
    height: 32px;
  }

  .content p {
    font-size: 16px;
    padding-top: 8px;
    visibility: hidden;
  }

  .card-desc {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding-top: 12px;
  }

  /* career section  */

  .career {
    width: auto;
    height: auto;
    flex-direction: column;
    margin-top: 40px;
    padding: 20px;
    background: #ff42a5;
  }

  .career-text {
    margin: 0;
  }

  .career-text-tittle {
    font-size: 36px;
    line-height: 45px;
    padding-top: 60px;
  }

  .career-desc {
    width: auto;
    font-size: 16px;
    line-height: 24px;
    padding-top: 16px;
  }

  .career-list-text {
    flex-direction: column;
    align-items: center;
  }

  .career-list-text-left {
    width: auto;
    height: auto;
    padding-top: 16px;
    text-align: center;
    justify-content: center;
  }

  .career-list-text-right {
    width: auto;
    height: auto;
    padding-top: 16px;
    text-align: center;
  }

  .career-text button {
    margin-top: 24px;
  }

  .carrer-image img {
    width: 100%;
    height: auto;
  }

  /* play game section */
  .play-game {
    margin: 40px 20px;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .play-game-img .main-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .play-game-img .badge-img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 0;
  }

  .badge-img {
    visibility: hidden;
  }
  .play-game-text-tittle {
    width: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .play-game-text-tittle .play {
    font-size: 36px;
    line-height: 45px;
  }

  .play-game-text-tittle .anywhere {
    font-size: 36px;
    line-height: 45px;
  }

  .play-game-text-desc {
    width: auto;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0;
    text-align: center;
  }

  /* play instant section */
  .play-instantly {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 0px;
  }

  .play-inst-tittle {
    width: 40%;
    height: auto;
    margin-left: 0;
    margin-top: 40px;
    padding: 0px;
  }

  .play-inst {
    font-size: 36px;
    line-height: 45px;
    padding: 0px;
  }

  .no-download {
    font-size: 36px;
    line-height: 45px;
    padding: 0px;
  }

  .play-inst-desc {
    width: 40%;
    text-align: center;
    margin-left: 0;
    padding: 24px 0 0;
    padding: 0px;
  }

  .play-main-img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin-top: 40px;
    left: -140px;
    padding: 0px;
    align-items: center;
  }

  .play-badge-img {
    visibility: hidden;
    padding: 0px;
  }

  /* footer section */
  .footer {
    height: auto;
  }

  .footer-tittle {
    padding-top: 40px;
  }

  .footer-tittle-text {
    font-size: 36px;
  }

  .footer-link {
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
  }

  .footer-icon-btn {
    flex-wrap: wrap;
    gap: 80px;
  }

  .footer-link2 {
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
  }

  .copyright {
    padding-top: 16px;
    padding-bottom: 200px;
  }
}
